* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
@font-face {
    font-family: AkiraExpanded-SuperBold;
    src:url(akira_expanded_demo-webfont.woff);
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: Geogrotesque-Regular;
    src:url(FontsFree-Net-Geogtq-Rg.otf);
    font-weight: bold;
    font-style: normal;
}
.maincontainer {
    background-image: url(background.svg);
}
.maincontent{    
    display: flex;
    flex-direction:column;
}
@media screen and (min-width: 1080px) {
    .maincontent{margin-left: 25%; width: 50%;}
}
.whitelistbtn {
    font-family: AkiraExpanded-SuperBold;
    font-size: 2vh;
    width:50%;
    margin-left: 25%;
    transition: 0.3s;
    color: white;
    padding: 2vh;
    text-align: center;
    box-shadow:0px 0px 0px 2px #fff inset;
}


.whitelistbtn:hover{
    box-shadow:0px 0px 0px 1vh #fff inset;
}
