* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: AkiraExpanded-SuperBold;
    src:url("/Akira Expanded Demo.otf");
}
@font-face {
    font-family: Geogrotesque-Regular;
    src:url("/FontsFree-Net-Geogtq-Rg.otf");
}

.maincontainer {
    background-image: url(background.svg);
}

.maincontent{    
    display: flex;
    flex-direction:column;
    margin-left: 25%;
    width:50%;

.whitelistbtn {
    width:50%;
    margin-left: 25%;
    transition: 0.3s;
}

.whitelistbtn:hover{
    border-color: #fff;
    box-shadow:0px 0px 0px 10px #fff inset;
}
